* {
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: unset;
    padding: unset;
    outline: unset;
    border: unset;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #24677A;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 100px;
}

h1{
    font-size: 115px;
    text-align: center;
}


ul{
    list-style: none;
}

.menu-superior{
    display: flex;
    gap: 78px;
}

a{
    text-decoration: none;
    color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  height: auto;
}


.container{
    border: 1px solid black;
    border-radius: 18px;
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 20px;
}

.navbar{
    display: flex;
    background-color: #04BF8A;
    border-radius: 50px;
}

.boton{
    background-color: transparent;
    display: flex;
    gap: 10px;
    background-color: #04BF8A;
    border-radius: 50px;
    padding: 30px;
}

.navbar__carta{
    background-color: #04BF8A;
    opacity: 50%;
    border-radius: 66px;
    padding: 30px;
}

.navbar__carta h2{
    font-size: 128px;
    text-align: center;
}

.fondo{
     background-color: #1B5F72; 
     border-radius: 30px;
     display: flex;
     justify-content: center;
     gap: 20px;
}

.fondo__ropa{
    background-color: #04BF8A;
    height: 305px;
    width: 288px;
    border-radius: 30px;
}

.fondo__ropa h2{
    font-size: 40px;
    text-align: center;
    background-color: #24677A;
    color: #04BF8A;
}

.fondo__laser{
        background-color: #04BF8A;
    height: 305px;
    width: 288px;
    border-radius: 30px;
}

.fondo__laser h2{
    font-size: 40px;
    text-align: center;
    background-color: #24677A;
    color: #04BF8A;
}

.fondo__imprecion-3d{
    background-color: #04BF8A;
    height: 305px;
    width: 288px;
    border-radius: 30px;
}

.fondo__imprecion-3d h2{
    font-size: 40px;
    text-align: center;
    background-color: #24677A;
    color: #04BF8A;
}

.fondo__otros{
    background-color: #04BF8A;
    height: 305px;
    width: 288px;
    border-radius: 30px;
}

.fondo__otros h2{
    font-size: 40px;
    text-align: center;
    background-color: #24677A;
    color: #04BF8A;
}

.path{
    fill: #1B5F72;
}